
.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  height: 100vh;
}

.fromWrapper {
  background: #000;
  padding: 20px;
  border-radius: 10px;
  width: 365px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #03FA6E;
}

.inputgroup {
  display: flex;
  flex-direction: column;
}

.mainlable {
  margin-bottom: 20px;
  margin-top: 0px;
}

.logo {
  height: 351px;
}

.inputbox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #cfcfcf;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinbtn {
  background: #03FA6E;
  width: 100px;
  margin-left: 72%;
}

.joinbtn:hover,
.leavebtn:hover {
  background: #01c355;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createnewbtn {
  color: #03FA6E;
  text-decoration: none;
  border-bottom: 1px solid #03FA6E;
  transition: all 0.3s ease-in-out;
}

.createnewbtn:hover,
footer a:hover {
  color: #01c355;
  border-color: #01c355;
}

.mainwrap {
  display: grid;
  grid-template-columns: 230px 1fr;

}

.aside {
  background: #000;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}

.asideinner {
  flex: 1;
}

.clientlist {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: hidden;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.username {
  margin-top: 10px;
}

.logoeditor {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoimage {
  height: 100px;
}

.mainheading {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.subheading {
  color: #01c355;
  font-size: large;
  margin: 0;
  padding: 0;
  font-family: 'Satisfy', cursive;
  letter-spacing: 1;
}

.leavebtn {
  margin-top: 20px;
  background: #03FA6E;
  font-weight: bold;
}

.copybtn,
.runbtn {
  font-weight: bold;
}

.runbtn {
  display: flex;
  margin-bottom: 30px;
}

.runbtn:hover {
  background: #000;
  color: #03FA6E;
  font-weight: 500;
  fill: #01c355;
  transition: all 0.4s ease-in-out;
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;

}

.play-icon {
  width: 30px;
  transition: transform 0.2s ease-in-out;
}

.play-icon:hover {
  transform: scale(1.5);

}

.btn_run_content {
  font-weight: 600;
  padding: 1px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

.aside {
  width: 200px;
  /* adjust width as needed */
  background-color: #1d1c1c;
  /* adjust background color as needed */
  color: white;
  /* adjust text color as needed */
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: translateX(0);
  /* Move the aside container to the left (visible position) */
}

.asideinner {
  padding: 20px;
  /* adjust padding as needed */
}

.logoeditor {
  margin-bottom: 20px;
  /* adjust margin as needed */
}

.clientlist {
  margin-bottom: 20px;
  /* adjust margin as needed */
}



.output_show {
  height: 250px;
  color: #3f3f3f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  letter-spacing: 1px;
  width: 50%;
  margin: 10px 424px;
  overflow: hidden;
}

.output_heading {
  font-size: 30px;
  text-align: center;
  color: #01c355;
  letter-spacing: normal;
  transition: all 2s ease-in;
}

.output_show:focus {
  outline: none;
  border: none;
}

.button-5 {

  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin:auto 48% ;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.theme-btn{
  margin-bottom: 20px;
  font-weight: 700;
}
.theme-btn:hover{
  background: #000;
  color: #03FA6E;
  font-weight: 500;
  fill: #01c355;
  transition: all 0.4s ease-in-out;
}