.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  height: 100vh;
}

.fromWrapper {
  background: #000;
  padding: 20px;
  border-radius: 10px;
  width: 365px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #03FA6E;
}

.inputgroup {
  display: flex;
  flex-direction: column;
}

.mainlable {
  margin-bottom: 20px;
  margin-top: 0px;
}

.logo {
  height: 351px;
}

.inputbox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #cfcfcf;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinbtn {
  background: #03FA6E;
  width: 100px;
}

.joinbtn:hover,
.leavebtn:hover {
  background: #01c355;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createnewbtn {
  color: #03FA6E;
  text-decoration: none;
  border-bottom: 1px solid #03FA6E;
  transition: all 0.3s ease-in-out;
}

.createnewbtn:hover,
footer a:hover {
  color: #01c355;
  border-color: #01c355;
}

.mainwrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: #000;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}

.asideinner {
  flex: 1;
}

.clientlist {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: hidden;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.username {
  margin-top: 10px;
}

.logoeditor {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoimage {
  height: 100px;
}

.mainheading {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.subheading {
  color: #01c355;
  font-size: large;
  margin: 0;
  padding: 0;
  font-family: 'Satisfy', cursive;
  letter-spacing: 1;
}

.leavebtn {
  margin-top: 20px;
  background: #03FA6E;
  font-weight: bold;
}

.copybtn,
.runbtn {
  font-weight: bold;
}

.runbtn {
  display: flex;
  margin-bottom: 30px;
}

.runbtn:hover {
  background: #000;
  color: #03FA6E;
  font-weight: 500;
  fill: #01c355;
  transition: all 0.4s ease-in-out;
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;

}


.aside {
  width: 200px;
  /* adjust width as needed */
  background-color: #1d1c1c;
  /* adjust background color as needed */
  color: white;
  /* adjust text color as needed */
  transition: transform 0.3s ease-in-out;
}


.open {
  transform: translateX(0);
  /* Move the aside container to the left (visible position) */
}

.asideinner {
  padding: 20px;
  /* adjust padding as needed */
}

.logoeditor {
  margin-bottom: 20px;
  /* adjust margin as needed */
}

.clientlist {
  margin-bottom: 20px;
  /* adjust margin as needed */
}



@media   (max-width: 426px)  {
  .aside {
    display: none;
  }
  .editorpage {
    width: 100vw;
  }
  .navbar{
    display: block;
  }
}

@media (width>426px) {
  .navbar{
    display: none;
  }
}

/* Variables */
:root {
  --blue: #040607;
}



/* List Styles */
ul li {
  list-style-type: none;
}

/* Navigation Styles */
.nav {
  background-color: var(--blue);
  width: 100%;
  position: fixed;
  z-index: 10;
}

ul#menu {
  display: none;
}

ul#menu li a {
  width: 100%;
  display: block;
  background-color: var(--blue);
  color: #d08b8b;
  font-size: 1.0em;
  padding: 1.5em 1.6em;
  transition: 0.2s;
  text-decoration: none;
}

ul#menu li a:hover {
  background-color: darken(var(--blue), 10%);
}

/* Horizontal desktop menu */
@media screen and (min-width: 2000px) {

  .nav ul#menu {
    display: inline;
  }

  .nav ul#menu li {
    display: inline-block;
    margin-right: -5px;
  }
}
